<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  
  <listener>  
      <listener-class>com.cis.deploy.listener.DeployListener</listener-class>  
  </listener>  
    
  <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.cis.properties.servlet.PropertyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/PropertyServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
</web-app>